# Final Project Part - III

In this part, we will be executing some queries on the database that we have implemented in Part-II.

## 5. For Chicago Crime data, come up with a query for each of the following cases.
* Add additional cells if required

In [85]:
import pandas as pd
import numpy as np
datapath = "/dsa/data/DSA-7030/Chicago-Crime-Sample-2012.csv"
df_all = pd.read_csv(datapath)
df_all.head()

,Unnamed: 0,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,47398,10433096,HZ170962,1/1/2012 0:00,026XX N MC VICKER AVE,1562,SEX OFFENSE,AGG CRIMINAL SEXUAL ABUSE,RESIDENCE,True,...,29.0,19.0,17,NaN,NaN,2012,5/11/2016 15:48,NaN,NaN,NaN
1,47420,10433124,HZ170983,1/1/2012 0:00,026XX N MC VICKER AVE,1544,SEX OFFENSE,SEXUAL EXPLOITATION OF A CHILD,RESIDENCE,True,...,29.0,19.0,17,NaN,NaN,2012,5/11/2016 15:48,NaN,NaN,NaN
2,802910,10532867,HZ276514,1/1/2012 0:00,036XX S RHODES AVE,1563,SEX OFFENSE,CRIMINAL SEXUAL ABUSE,APARTMENT,False,...,4.0,35.0,17,NaN,NaN,2012,5/26/2016 15:51,NaN,NaN,NaN
3,803605,10536876,HZ280873,1/1/2012 0:00,062XX S ROCKWELL ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,...,15.0,66.0,11,NaN,NaN,2012,5/27/2016 15:48,NaN,NaN,NaN
4,831733,9581929,HX232501,1/1/2012 0:00,006XX W 66TH ST,1563,SEX OFFENSE,CRIMINAL SEXUAL ABUSE,RESIDENCE,False,...,6.0,68.0,17,NaN,NaN,2012,8/17/2015 15:03,NaN,NaN,NaN

In [113]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [114]:
%sql postgres://rc25g:xxxx@pgsql.dsa.lan/dsa_student

'Connected: rc25g@dsa_student'

### 5.1 How many different types of location_decription that have “residence” or “residential”?

In [41]:
%sql SELECT count(*) FROM "crime_location" WHERE location_description = 'RESIDENCE' OR location_description = 'RESIDENTIAL';

 * postgres://rc25g:***@pgsql.dsa.lan/dsa_student
1 rows affected.

[(30690,)]

### 5.2 Find the primary type happened on 13th of February.

In [161]:
df1 = df_all[['Date', 'Primary Type']]
df1.columns = ['date','primary_type']
df1 = df1[[x.startswith('2/13/2012') for x in df1.date]]
df1['primary_type'].value_counts()

THEFT                               163
NARCOTICS                           116
BATTERY                             103
CRIMINAL DAMAGE                      59
MOTOR VEHICLE THEFT                  50
BURGLARY                             46
OTHER OFFENSE                        45
ASSAULT                              39
DECEPTIVE PRACTICE                   35
CRIMINAL TRESPASS                    26
ROBBERY                              19
WEAPONS VIOLATION                     8
PUBLIC PEACE VIOLATION                7
SEX OFFENSE                           2
CRIM SEXUAL ASSAULT                   2
INTERFERENCE WITH PUBLIC OFFICER      2
PROSTITUTION                          2
LIQUOR LAW VIOLATION                  1
KIDNAPPING                            1
INTIMIDATION                          1
OFFENSE INVOLVING CHILDREN            1
Name: primary_type, dtype: int64

### 5.3 Which month has the largest number of thefts?

In [163]:
df1 = df_all[['Date', 'Primary Type']]
df1.columns = ['date','primary_type']
df1 = df1[df1.primary_type == 'THEFT']
df1.head()

             date primary_type
18  1/1/2012 0:00        THEFT
21  1/1/2012 0:00        THEFT
24  1/1/2012 0:00        THEFT
25  1/1/2012 0:00        THEFT
26  1/1/2012 0:00        THEFT

In [164]:
%%sql SELECT date
FROM crime_record
INNER JOIN crime_code ON (crime_record.iucr = crime_code.iucr)
WHERE primary_type = 'THEFT'
GROUP BY crime_record.date;

 * postgres://rc25g:***@pgsql.dsa.lan/dsa_student
4 rows affected.

[(datetime.date(2012, 1, 1),),
 (datetime.date(2012, 1, 2),),
 (datetime.date(2012, 1, 3),),
 (datetime.date(2012, 1, 4),)]

### 5.4 What is the primary type of crime that happened the most during Christmas day?

In [153]:
df1 = df_all[['Date', 'Primary Type']]
df1.columns = ['date','primary_type']
df1 = df1[[x.startswith('12/25/2012') for x in df1.date]]
n=1
df1['primary_type'].value_counts()[:n].index.tolist()

['BATTERY']

### 5.5. What is the number of crimes per month in each community area? List the ones with an average number over 500.

In [171]:
%%sql SELECT community_area, count(*)
FROM crime_record
INNER JOIN crime_location ON (crime_record.location_id = crime_location.location_id)
INNER JOIN crime_code ON (crime_record.iucr = crime_code.iucr)
WHERE primary_type = 'THEFT'
GROUP BY crime_location.community_area;

 * postgres://rc25g:***@pgsql.dsa.lan/dsa_student
10 rows affected.

[('22.0', 1),
 ('25.0', 2),
 ('29.0', 1),
 ('4.0', 1),
 ('46.0', 1),
 ('6.0', 2),
 ('66.0', 2),
 ('72.0', 1),
 ('75.0', 1),
 ('8.0', 1)]

### 5.6 What is the arrest rate for domestic battery?

In [111]:
df1 = df_all[['Arrest', 'Primary Type']]
df1.columns = ['arrest','primary_type']
df1 = df1[df1.primary_type == 'BATTERY']
df1['arrest'].value_counts(normalize=True)

False    0.779197
True     0.220803
Name: arrest, dtype: float64

### 5.7 What are the five most common crimes in Chicago?

In [121]:
df1 = df_all[['Primary Type']]
df1.columns = ['primary_type']
n=5
df1['primary_type'].value_counts()[:n].index.tolist()

['THEFT', 'BATTERY', 'CRIMINAL DAMAGE', 'NARCOTICS', 'BURGLARY']

### 5.8 Fetch two time series for crime count and arrest count per month from the database. Plot these two time series in a single plot.

In [ ]:
%%sql SELECT arrest, date, count(*)
FROM crime_record
INNER JOIN crime_location ON (crime_record.location_id = crime_location.location_id)
INNER JOIN crime_code ON (crime_record.iucr = crime_code.iucr)
WHERE primary_type = 'True'
GROUP BY crime_code.primary_type;

%%sql SELECT primary_type, date, count(*)
FROM crime_code
INNER JOIN crime_location ON (crime_record.location_id = crime_location.location_id)
INNER JOIN crime_record ON (crime_record.iucr = crime_code.iucr)
GROUP BY crime_code.primary_type;