# Creating and Loading Survey Data

## 1. Review File

 [survey.db.sql](./survey.db.sql)
 
 #### Edit file to add your pawprint in front to configure the schema.
 1. Use the folder view of Jupyter to navigate to module2/exercises
 2. Click to open the file.
 3. Use the file menu to save the file.


## 2. Use terminal to access your personal schema in `dsa_students` to run the file

#### Hints:
1. Use the *change directory*, `cd`, command to navigate to this folder in Jupyter Terminal
2. Connect to the database
3. "Run the SQL file"

## 3. Copy in the terminal output / results from running the file

#################################################
## Paste output from Task #3 Below this comment ## 
#################################################

rc25g@jupyter-rc25g:~/jupyter/f20dsa7030_rc25g/modules/module2/exercises$ psql -h pgsql.dsa.lan -d dsa_student
Password for user rc25g:
psql (11.3, server 10.5)
Type "help" for help.

dsa_student=> \! pwd
/home/rc25g/jupyter/f20dsa7030_rc25g/modules/module2/exercises
dsa_student=> \i survey.db.sql

dsa_student=> \dt
              List of relations
 Schema |      Name       | Type  |  Owner
--------+-----------------+-------+----------
 public | nyc_roads       | table | scottgs
 public | spatial_ref_sys | table | postgres
 rc25g  | album           | table | rc25g
 rc25g  | artist          | table | rc25g
 rc25g  | genre           | table | rc25g
 rc25g  | person          | table | rc25g
 rc25g  | site            | table | rc25g
 rc25g  | song            | table | rc25g
 rc25g  | survey          | table | rc25g
 rc25g  | visited         | table | rc25g
 rc25g  | whoami          | table | rc25g
(11 rows)

## 4. Describe the tables using PostgreSQL commands and paste the output below.

#################################################
## Paste output from Task #4 Below this comment ## 
#################################################


dsa_student-> \d survey
                Table "rc25g.survey"
 Column  |  Type   | Collation | Nullable | Default
---------+---------+-----------+----------+---------
 taken   | integer |           |          |
 person  | text    |           |          |
 quant   | text    |           |          |
 reading | real    |           |          |
 
 
dsa_student-> \d visited
             Table "rc25g.visited"
 Column | Type | Collation | Nullable | Default
--------+------+-----------+----------+---------
 id     | text |           |          |
 site   | text |           |          |
 dated  | text |           |          |
 
 
 dsa_student=> \d person
               Table "rc25g.person"
  Column  | Type | Collation | Nullable | Default
----------+------+-----------+----------+---------
 id       | text |           |          |
 personal | text |           |          |
 family   | text |           |          |

# 5. Write / Copy one of the queries from the prior module related to this data, adapted to this database and the schema-specified table names.

### Paste the Query and the Reset in the two cells below.

#################################################
## Paste Query for Task #5 Below this comment  ## 
#################################################

%%sql SELECT * FROM survey WHERE (quant = 'rad' OR quant = 'temp')

#################################################
## Paste Result for Task #5 Below this comment ## 
#################################################
 
 
 taken | person | quant | reading
-------+--------+-------+---------
   619 | dyer   | rad   |    9.82
   622 | dyer   | rad   |     7.8
   734 | pb     | rad   |    8.41
   734 | pb     | temp  |   -21.5
   735 | pb     | rad   |    7.22
   735 |        | temp  |     -26
   751 | pb     | rad   |    4.35
   751 | pb     | temp  |   -18.5
   752 | lake   | rad   |    2.19
   752 | lake   | temp  |     -16
   837 | lake   | rad   |    1.46
   844 | roe    | rad   |   11.25
(12 rows)

----
# Save your notebook, then `File > Close and Halt`