# Triggers in PostgreSQL - Exercise


For this exercise, you will connect to the `dsa_student` database and create functions within your schema, i.e., your pawprint should replace SSO below.

## 0. Connect to the database

In [5]:
SSO="rc25g"
hostname='pgsql.dsa.lan'
database='dsa_student'

# Read the Password into mem for a moment
import getpass
read_password = getpass.getpass("Type Password and hit enter")

Type Password and hit enter········

In [6]:
connection_string = f"postgres://{SSO}:{read_password}@{hostname}/{database}"

In [7]:
%load_ext sql
%sql $connection_string

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
(psycopg2.OperationalError) FATAL:  PAM authentication failed for user "rc25g"

(Background on this error at: http://sqlalche.me/e/e3q8)
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['postgres://rc25g:***@pgsql.dsa.lan/dsa_student'])

--- 

## Audit the Survey Table for Deletes

### 1 Define and create your trigger fuction to audit deletes on the survey table.

In [11]:
%%sql

-- Add your trigger function below this line.

CREATE OR REPLACE FUNCTION audit_survey_reading_insert()
  RETURNS TRIGGER 
  AS
$$
BEGIN
   INSERT INTO survey_audit
       (taken, person, quant, old_reading, new_reading)
   VALUES
       (NEW.taken, NEW.person, NEW.quant, NULL, NEW.reading);
   RETURN NEW;
END;
$$
LANGUAGE PLPGSQL;

 * postgres://rc25g:***@pgsql.dsa.lan/dsa_student
Done.

[]

----

### 2 Create your trigger on the survey table.

In [12]:
%%sql

-- Add your trigger definition below this line.

DROP TRIGGER IF EXISTS survey_delete_audit ON survey;

CREATE TRIGGER survey_delete_audit
  AFTER INSERT
  ON survey
  FOR EACH ROW
  EXECUTE PROCEDURE audit_survey_reading_insert();

 * postgres://rc25g:***@pgsql.dsa.lan/dsa_student
Done.
Done.

[]

Show that the Survey table includes three triggers now either via a) SQL query or b) psql. If you use SQL query, write you query in the folowing cell.

In [13]:
%%sql 
-- select * 
select trigger_schema, trigger_name, event_object_table, action_statement, action_orientation, action_timing
from information_schema.triggers
where trigger_name = 'survey_delete_audit'

 * postgres://rc25g:***@pgsql.dsa.lan/dsa_student
1 rows affected.

[('rc25g', 'survey_delete_audit', 'survey', 'EXECUTE PROCEDURE audit_survey_reading_insert()', 'ROW', 'AFTER')]

# if you use psql, paste your result here

### 3 Remove Rows

Note: In the practice we executed this multi-insert statement.

```SQL
INSERT INTO SSO.survey VALUES 
(619,'lake','rad',8.72),
(619,'lake','sal',2.03),
(622,'lake','rad',8.8),
(622,'lake','sal',1.9)
;
```

#### In the cells below, 
 1. Write a two distinct DELETE Statements for 619/lake rows.
     1. removing this data (619,'lake','rad',8.72)
     2. removing this data (619,'lake','sal',2.03)
 2. Show the data in the survey table.
 3. Show the resulting audit rows.

In [15]:
%%sql

-- 3.1 write two delete statements here

DELETE survey VALUES 
(619,'lake','rad',8.72),
(619,'lake','sal',2.03)
;

 * postgres://rc25g:***@pgsql.dsa.lan/dsa_student
(psycopg2.errors.SyntaxError) syntax error at or near "INTO"
LINE 3: DELETE INTO survey VALUES
               ^

[SQL: -- 3.1 write two delete statements here

DELETE INTO survey VALUES
(619,'lake','rad',8.72),
(619,'lake','sal',2.03)
;]
(Background on this error at: http://sqlalche.me/e/f405)

In [ ]:
%%sql 

-- 3.2 Show the full survey table

select * from rc25g.survey_audit ;

In [ ]:
%%sql 

-- 3.3 Show the resulting audit rows.

---

### 4 Remove the other two rows with a single delete statement.

 1. Write a single DELETE Statement for the 622/lake rows.
     1. removing this data (622,'lake','rad',8.8)
     2. removing this data (622,'lake','sal',1.9)
 2. Show the data in the survey table.
 3. Show the resulting audit rows.

In [ ]:
-- 4.1 Show the single delete statements

DELETE survey Values
(622,'lake','rad',8.8),
(622,'lake','sal',1.9)
;

In [ ]:
-- 4.2 Show the full survey table

select * from rc25g.survey_audit ;

In [ ]:
-- 4.3 Show the resulting audit rows.

# Save your notebook, then `File > Close and Halt`