# Data Carpentry for a Mini Analysis (`R`)

**Exercise 1:** Read in the dataset, `/dsa/data/all_datasets/baseball-databank/data/Master.csv`. Call this data frame, `df`.

In [158]:
library(dplyr)
library(tidyr)
library(lubridate)

In [179]:
# Code for Exercise 1 goes here
# -----------------------------

df = read.csv('/dsa/data/all_datasets/baseball-databank/data/Master.csv')

head(df)

  playerID  birthYear birthMonth birthDay birthCountry birthState birthCity
1 aardsda01 1981      12         27       USA          CO         Denver
2 aaronha01 1934       2          5       USA          AL         Mobile
3 aaronto01 1939       8          5       USA          AL         Mobile
4 aasedo01  1954       9          8       USA          CA         Orange
5 abadan01  1972       8         25       USA          FL         Palm Beach
6 abadfe01  1985      12         17       D.R.         La Romana  La Romana
  deathYear deathMonth deathDay ⋯ nameLast nameGiven        weight height bats
1   NA      NA         NA       ⋯ Aardsma  David Allan      220    75     R
2   NA      NA         NA       ⋯ Aaron    Henry Louis      180    72     R
3 1984       8         16       ⋯ Aaron    Tommie Lee       190    75     R
4   NA      NA         NA       ⋯ Aase     Donald William   190    75     R
5   NA      NA         NA       ⋯ Abad     Fausto Andres    184    73     L
6   NA      NA         NA       ⋯ Abad     Fernando Antonio 220    73     L
  throws debut      finalGame  retroID  bbrefID
1 R      2004-04-06 2015-08-23 aardd001 aardsda01
2 R      1954-04-13 1976-10-03 aaroh101 aaronha01
3 R      1962-04-10 1971-09-26 aarot101 aaronto01
4 R      1977-07-26 1990-10-03 aased001 aasedo01
5 L      2001-09-10 2006-04-13 abada001 abadan01
6 L      2010-07-28 2015-10-03 abadf001 abadfe01

We are not interested in the columns dealing with death for these exercises. Let's go ahead and get rid of them.

**Exercise 2:** Remove the `deathYear`, `deathMonth`, `deathDay`, `deathCountry`, `deathState`, and `deathCity` columns from the data frame. Rename the data frame without these columns, `players`.

In [180]:
# Code for Exercise 2 goes here
# -----------------------------

library(dplyr)

players = subset(df, select = -c(deathYear, deathMonth, deathDay, deathCountry, deathState, deathCity))

head(players)

  playerID  birthYear birthMonth birthDay birthCountry birthState birthCity
1 aardsda01 1981      12         27       USA          CO         Denver
2 aaronha01 1934       2          5       USA          AL         Mobile
3 aaronto01 1939       8          5       USA          AL         Mobile
4 aasedo01  1954       9          8       USA          CA         Orange
5 abadan01  1972       8         25       USA          FL         Palm Beach
6 abadfe01  1985      12         17       D.R.         La Romana  La Romana
  nameFirst nameLast nameGiven        weight height bats throws debut
1 David     Aardsma  David Allan      220    75     R    R      2004-04-06
2 Hank      Aaron    Henry Louis      180    72     R    R      1954-04-13
3 Tommie    Aaron    Tommie Lee       190    75     R    R      1962-04-10
4 Don       Aase     Donald William   190    75     R    R      1977-07-26
5 Andy      Abad     Fausto Andres    184    73     L    L      2001-09-10
6 Fernando  Abad     Fernando Antonio 220    73     L    L      2010-07-28
  finalGame  retroID  bbrefID
1 2015-08-23 aardd001 aardsda01
2 1976-10-03 aaroh101 aaronha01
3 1971-09-26 aarot101 aaronto01
4 1990-10-03 aased001 aasedo01
5 2006-04-13 abada001 abadan01
6 2015-10-03 abadf001 abadfe01

**Exercise 3:** Create a date column called `players$birthdate` by combining the `birthYear`, `birthMonth` and `birthDay` columns, then delete these columns.

In [181]:
# Code for Exercise 3 goes here
# -----------------------------

players <-
players %>%
mutate(birthdate = make_date(birthYear, birthMonth, birthDay))
select(players, -birthYear, -birthMonth, -birthDay)
head(players)

      playerID  birthCountry birthState birthCity        nameFirst nameLast
1     aardsda01 USA          CO         Denver           David     Aardsma
2     aaronha01 USA          AL         Mobile           Hank      Aaron
3     aaronto01 USA          AL         Mobile           Tommie    Aaron
4     aasedo01  USA          CA         Orange           Don       Aase
5     abadan01  USA          FL         Palm Beach       Andy      Abad
6     abadfe01  D.R.         La Romana  La Romana        Fernando  Abad
7     abadijo01 USA          PA         Philadelphia     John      Abadie
8     abbated01 USA          PA         Latrobe          Ed        Abbaticchio
9     abbeybe01 USA          VT         Essex            Bert      Abbey
10    abbeych01 USA          NE         Falls City       Charlie   Abbey
11    abbotda01 USA          OH         Portage          Dan       Abbott
12    abbotfr01 USA          OH         Versailles       Fred      Abbott
13    abbotgl01 USA          AR         Little Rock      Glenn     Abbott
14    abbotje01 USA          GA         Atlanta          Jeff      Abbott
15    abbotji01 USA          MI         Flint            Jim       Abbott
16    abbotku01 USA          OH         Zanesville       Kurt      Abbott
17    abbotky01 USA          MA         Newburyport      Kyle      Abbott
18    abbotod01 USA          PA         New Eagle        Ody       Abbott
19    abbotpa01 USA          CA         Van Nuys         Paul      Abbott
20    aberal01  USA          OH         Cleveland        Al        Aber
21    abercda01 USA          OK         Fort Towson      Frank     Abercrombie
22    abercre01 USA          GA         Columbus         Reggie    Abercrombie
23    abernbi01 USA          CA         Torrance         Bill      Abernathie
24    abernbr01 USA          GA         Atlanta          Brent     Abernathy
25    abernte01 USA          NC         Bynum            Ted       Abernathy
26    abernte02 USA          NC         Stanley          Ted       Abernathy
27    abernwo01 USA          NC         Forest City      Woody     Abernathy
28    aberscl01 USA          IL         Chicago          Cliff     Aberson
29    ablesha01 USA          TX         Terrell          Harry     Ables
30    abnersh01 USA          OH         Hamilton         Shawn     Abner
⋮     ⋮         ⋮            ⋮          ⋮                ⋮         ⋮
18817 zimmejo02 USA          WI         Auburndale       Jordan    Zimmermann
18818 zimmero01 USA          PA         Pine Grove       Roy       Zimmerman
18819 zimmery01 USA          NC         Washington       Ryan      Zimmerman
18820 zinkch01  USA          CA         Carmichael       Charlie   Zink
18821 zinkwa01  USA          MA         Pittsfield       Walter    Zink
18822 zinnfr01  USA          PA         Phoenixville     Frank     Zinn
18823 zinngu01  USA          WV         Holbrook         Guy       Zinn
18824 zinnji01  USA          AR         Benton           Jimmy     Zinn
18825 zinsebi01 USA          NY         Astoria          Bill      Zinser
18826 zinteal01 USA          TX         El Paso          Alan      Zinter
18827 zipfebu01 USA          IL         Belleville       Bud       Zipfel
18828 ziskri01  USA          NY         Brooklyn         Richie    Zisk
18829 zitoba01  USA          NV         Las Vegas        Barry     Zito
18830 zitzmbi01 USA          NY         Long Island City Billy     Zitzmann
18831 zmiched01 USA          OH         Cleveland        Ed        Zmich
18832 zobribe01 USA          IL         Eureka           Ben       Zobrist
18833 zoccope01 USA          NY         Bronx            Peter     Zoccolillo
18834 zoldasa01 USA          NY         Brooklyn         Sam       Zoldak
18835 zoskyed01 USA          CA         Whittier         Eddie     Zosky
18836 zuberbi01 USA          IA         Middle Amana     Bill      Zuber
18837 zuberjo01 USA          CA         Encino           Jon       Zuber
18838 zuletju01 Panama       Panama     Panama           Julio     Zuleta
18839 zumayjo01 USA          CA         Chula Vista      Joel      Zumaya
18840 zuninmi01 USA          FL         Cape Coral       Mike      Zunino
18841 zupcibo01 USA          PA         Pittsburgh       Bob       Zupcic
18842 zupofr01  USA          CA         San Francisco    Frank     Zupo
18843 zuvelpa01 USA          CA         San Mateo        Paul      Zuvella
18844 zuverge01 USA          MI         Holland          George    Zuverink
18845 zwilldu01 USA          MO         St. Louis        Dutch     Zwilling
18846 zychto01  USA          IL         Monee            Tony      Zych
      nameGiven          weight height bats throws debut      finalGame
1     David Allan        220    75     R    R      2004-04-06 2015-08-23
2     Henry Louis        180    72     R    R      1954-04-13 1976-10-03
3     Tommie Lee         190    75     R    R      1962-04-10 1971-09-26
4     Donald William     190    75     R    R      1977-07-26 1990-10-03
5     Fausto Andres      184    73     L    L      2001-09-10 2006-04-13
6     Fernando Antonio   220    73     L    L      2010-07-28 2015-10-03
7     John W.            192    72     R    R      1875-04-26 1875-06-10
8     Edward James       170    71     R    R      1897-09-04 1910-09-15
9     Bert Wood          175    71     R    R      1892-06-14 1896-09-23
10    Charles S.         169    68     L    L      1893-08-16 1897-08-19
11    Leander Franklin   190    71     R    R      1890-04-19 1890-05-23
12    Harry Frederick    180    70     R    R      1903-04-25 1905-09-20
13    William Glenn      200    78     R    R      1973-07-29 1984-08-08
14    Jeffrey William    190    74     R    L      1997-06-10 2001-09-29
15    James Anthony      200    75     L    L      1989-04-08 1999-07-21
16    Kurt Thomas        180    71     R    R      1993-09-07 2001-04-13
17    Lawrence Kyle      200    76     L    L      1991-09-10 1996-08-24
18    Ody Cleon          180    74     R    R      1910-09-10 1910-10-15
19    Paul David         185    75     R    R      1990-08-21 2004-08-07
20    Albert Julius      195    74     L    L      1950-09-15 1957-09-11
21    Francis Patterson   NA    NA                 1871-10-21 1871-10-21
22    Reginald Damascus  215    75     R    R      2006-04-04 2008-09-28
23    William Edward     190    70     R    R      1952-09-27 1952-09-27
24    Michael Brent      185    73     R    R      2001-06-25 2005-09-29
25    Talmadge Lafayette 210    74     R    L      1942-09-19 1944-04-29
26    Theodore Wade      215    76     R    R      1955-04-13 1972-09-30
27    Virgil Woodrow     170    72     L    L      1946-07-28 1947-04-17
28    Clifford Alexander 200    72     R    R      1947-07-18 1949-05-09
29    Harry Terrell      200    74     R    L      1905-09-04 1911-05-05
30    Shawn Wesley       190    73     R    R      1987-09-08 1992-10-03
⋮     ⋮                  ⋮      ⋮      ⋮    ⋮      ⋮          ⋮
18817 Jordan M.          225    74     R    R      2009-04-20 2015-09-30
18818 Roy Franklin       187    74     L    L      1945-08-27 1945-09-30
18819 Ryan Wallace       220    75     R    R      2005-09-01 2015-09-07
18820 Charles Tadao      190    73     R    R      2008-08-12 2008-08-12
18821 Walter Noble       165    72     R    R      1921-07-06 1921-07-19
18822 Frank Patrick      150    68                 1888-04-18 1888-05-03
18823 Guy                170    70     L    R      1911-09-11 1915-09-16
18824 James Edward       195    72     L    R      1919-09-04 1929-08-25
18825 William Francis    185    73     R    R      1944-08-19 1944-08-26
18826 Alan Michael       200    74     B    R      2002-06-18 2004-10-03
18827 Marion Sylvester   200    75     L    R      1961-07-26 1962-09-30
18828 Richard Walter     200    73     R    R      1971-09-08 1983-09-21
18829 Barry William      205    74     L    L      2000-07-22 2015-09-30
18830 William Arthur     175    70     R    R      1919-04-27 1929-09-25
18831 Edward Albert      180    72     L    L      1910-07-23 1911-06-01
18832 Benjamin Thomas    210    75     B    R      2006-08-01 2015-10-04
18833 Peter Jude         200    74     L    R      2003-09-05 2003-09-28
18834 Samuel Walter      185    71     L    L      1944-05-13 1952-08-26
18835 Edward James       175    72     R    R      1991-09-02 2000-10-01
18836 William Henry      195    74     R    R      1936-09-16 1947-09-23
18837 Jon Edward         190    73     L    L      1996-04-19 1998-09-27
18838 Julio Ernesto      230    78     R    R      2000-04-06 2001-06-25
18839 Joel Martin        215    75     R    R      2006-04-03 2010-06-28
18840 Michael Accorsi    220    74     R    R      2013-06-12 2015-08-27
18841 Robert             220    76     R    R      1991-09-07 1994-08-04
18842 Frank Joseph       182    71     L    R      1957-07-01 1961-05-09
18843 Paul               173    72     R    R      1982-09-04 1991-05-02
18844 George             195    76     R    R      1951-04-21 1959-06-15
18845 Edward Harrison    160    66     L    L      1910-08-14 1916-07-12
18846 Anthony Aaron      190    75     R    R      2015-09-04 2015-10-03
      retroID  bbrefID   birthdate
1     aardd001 aardsda01 1981-12-27
2     aaroh101 aaronha01 1934-02-05
3     aarot101 aaronto01 1939-08-05
4     aased001 aasedo01  1954-09-08
5     abada001 abadan01  1972-08-25
6     abadf001 abadfe01  1985-12-17
7     abadj101 abadijo01 1854-11-04
8     abbae101 abbated01 1877-04-15
9     abbeb101 abbeybe01 1869-11-11
10    abbec101 abbeych01 1866-10-14
11    abbod101 abbotda01 1862-03-16
12    abbof101 abbotfr01 1874-10-22
13    abbog001 abbotgl01 1951-02-16
14    abboj002 abbotje01 1972-08-17
15    abboj001 abbotji01 1967-09-19
16    abbok002 abbotku01 1969-06-02
17    abbok001 abbotky01 1968-02-18
18    abboo101 abbotod01 1888-09-05
19    abbop001 abbotpa01 1967-09-15
20    abera101 aberal01  1927-07-31
21    aberd101 abercda01 1850-01-02
22    aberr001 abercre01 1980-07-15
23    aberb101 abernbi01 1929-01-30
24    aberb001 abernbr01 1977-09-23
25    abert102 abernte01 1921-10-30
26    abert101 abernte02 1933-03-06
27    aberw101 abernwo01 1915-02-01
28    aberc101 aberscl01 1921-08-28
29    ableh101 ablesha01 1883-10-04
30    abnes001 abnersh01 1966-06-17
⋮     ⋮        ⋮         ⋮
18817 zimmj003 zimmejo02 1986-05-23
18818 zimmr101 zimmero01 1916-09-13
18819 zimmr001 zimmery01 1984-09-28
18820 zinkc001 zinkch01  1979-08-26
18821 zinkw101 zinkwa01  1898-11-21
18822 zinnf101 zinnfr01  1865-12-21
18823 zinng101 zinngu01  1887-02-13
18824 zinnj101 zinnji01  1895-01-21
18825 zinsb101 zinsebi01 1918-01-06
18826 zinta001 zinteal01 1968-05-19
18827 zipfb101 zipfebu01 1938-11-18
18828 ziskr101 ziskri01  1949-02-06
18829 zitob001 zitoba01  1978-05-13
18830 zitzb101 zitzmbi01 1895-11-19
18831 zmice101 zmiched01 1884-10-01
18832 zobrb001 zobribe01 1981-05-26
18833 zoccp001 zoccope01 1977-02-06
18834 zolds101 zoldasa01 1918-12-08
18835 zoske001 zoskyed01 1968-02-10
18836 zubeb101 zuberbi01 1913-03-26
18837 zubej001 zuberjo01 1969-12-10
18838 zulej001 zuletju01 1975-03-28
18839 zumaj001 zumayjo01 1984-11-09
18840 zunim001 zuninmi01 1991-03-25
18841 zupcb001 zupcibo01 1966-08-18
18842 zupof101 zupofr01  1939-08-29
18843 zuvep001 zuvelpa01 1958-10-31
18844 zuveg101 zuverge01 1924-08-20
18845 zwild101 zwilldu01 1888-11-02
18846 zycht001 zychto01  1990-08-07

  playerID  birthYear birthMonth birthDay birthCountry birthState birthCity
1 aardsda01 1981      12         27       USA          CO         Denver
2 aaronha01 1934       2          5       USA          AL         Mobile
3 aaronto01 1939       8          5       USA          AL         Mobile
4 aasedo01  1954       9          8       USA          CA         Orange
5 abadan01  1972       8         25       USA          FL         Palm Beach
6 abadfe01  1985      12         17       D.R.         La Romana  La Romana
  nameFirst nameLast nameGiven        weight height bats throws debut
1 David     Aardsma  David Allan      220    75     R    R      2004-04-06
2 Hank      Aaron    Henry Louis      180    72     R    R      1954-04-13
3 Tommie    Aaron    Tommie Lee       190    75     R    R      1962-04-10
4 Don       Aase     Donald William   190    75     R    R      1977-07-26
5 Andy      Abad     Fausto Andres    184    73     L    L      2001-09-10
6 Fernando  Abad     Fernando Antonio 220    73     L    L      2010-07-28
  finalGame  retroID  bbrefID   birthdate
1 2015-08-23 aardd001 aardsda01 1981-12-27
2 1976-10-03 aaroh101 aaronha01 1934-02-05
3 1971-09-26 aarot101 aaronto01 1939-08-05
4 1990-10-03 aased001 aasedo01  1954-09-08
5 2006-04-13 abada001 abadan01  1972-08-25
6 2015-10-03 abadf001 abadfe01  1985-12-17

**Exercise 4**: Now convert the `players$debut` and `players$finalGame` columns to date columns.

In [182]:
# Code for Exercise 4 goes here
# -----------------------------

players = 
    players%>%
    mutate(debut = ymd(debut))

head(players$debut)

players =
    players%>%
    mutate(finalGame = ymd(finalGame))

head(players$finalGame)

[1] "2004-04-06" "1954-04-13" "1962-04-10" "1977-07-26" "2001-09-10"
[6] "2010-07-28"

[1] "2015-08-23" "1976-10-03" "1971-09-26" "1990-10-03" "2006-04-13"
[6] "2015-10-03"

This is a good time to discuss how to calculate differences between times. `lubridate` provides some convenient ways to do this by simply subtracting one date from another. See the example below.

In [183]:
delta<-dmy("01-03-2017")-mdy("August 1st, 2000")
delta

Time difference of 6056 days

**Exercise 5**: Create a new column in the players data frame called `debut_age` that finds the difference in days between a players birth and their debut.

In [184]:
# Code for Exercise 5 goes here
# -----------------------------

players$debut_age = players$debut - players$birthdate

head(players)

  playerID  birthYear birthMonth birthDay birthCountry birthState birthCity
1 aardsda01 1981      12         27       USA          CO         Denver
2 aaronha01 1934       2          5       USA          AL         Mobile
3 aaronto01 1939       8          5       USA          AL         Mobile
4 aasedo01  1954       9          8       USA          CA         Orange
5 abadan01  1972       8         25       USA          FL         Palm Beach
6 abadfe01  1985      12         17       D.R.         La Romana  La Romana
  nameFirst nameLast nameGiven        weight height bats throws debut
1 David     Aardsma  David Allan      220    75     R    R      2004-04-06
2 Hank      Aaron    Henry Louis      180    72     R    R      1954-04-13
3 Tommie    Aaron    Tommie Lee       190    75     R    R      1962-04-10
4 Don       Aase     Donald William   190    75     R    R      1977-07-26
5 Andy      Abad     Fausto Andres    184    73     L    L      2001-09-10
6 Fernando  Abad     Fernando Antonio 220    73     L    L      2010-07-28
  finalGame  retroID  bbrefID   birthdate  debut_age
1 2015-08-23 aardd001 aardsda01 1981-12-27  8136 days
2 1976-10-03 aaroh101 aaronha01 1934-02-05  7372 days
3 1971-09-26 aarot101 aaronto01 1939-08-05  8284 days
4 1990-10-03 aased001 aasedo01  1954-09-08  8357 days
5 2006-04-13 abada001 abadan01  1972-08-25 10608 days
6 2015-10-03 abadf001 abadfe01  1985-12-17  8989 days

**Exercise 6**: Find the mean age in years of the `debut_age` column. (Hint: you may have to use the `as.numeric()` function on the `debut_age` column to remove the language around each value. Also, when finding the mean, you may need to use the `na.rm` parameter. Finally, remember,the `debut_age` values are currently in days but we want years)

In [199]:
# Code for Exercise 6 goes here
# -----------------------------

nums = as.numeric(as.character(players$debut_age))
m = mean(nums, na.rm=TRUE)
print(m)
print("Debut Age in Years.")
print(m/365)

[1] 8876.519
[1] "Debut Age in Years."
[1] 24.31923

# Save your notebook, then `File > Close and Halt`